{% extends "base.html"  %}
{% load static  %}

{% block title %}
    Trippy | Reply to Comment
     
{% endblock %}


{% block style %}
    .post-avatar-container{
        background: #fff;
        width: 5rem;
        height: 3.3rem;
        }

    .round-img{
        border-radius: 50%;
        width: 5rem;
        height: 3.3rem;
    }

    .reply-img{
       width: 4rem;
        height: 4rem; 
    }
     
{% endblock %}

 


{% block main  %} 
    <div class=" bg-white border br-5 p-5">
        <div class="d-flex justify-content-start align-items-center my-4">
            <a href="{% url 'posts:post' comment.post.slug %}" class="btn btn-block w-30 "> &larr; Back to post</a>
        </div>

        
        <div class="section__heading border-bottom mt-2 mb-3 py-2 text-gray fw-400">
            Comment...
        </div>


        <div class="comet-avatar post-avatar-container  my-4 ">
            <a href="{% url 'profiles:user' comment.user.slug  %}" title="@{{ comment.user.username }}">
                <img src="{{ comment.user.avatar.url }}" alt="" class="round-img" style="width: 4rem; height: 4rem;">
            </a>
        </div>
        <div class="we-comment bg-white br-5">
            <div class="coment-head d-flex  justify-content align-items-center    ">
                <div>
                    <h5>
                        <a href="#" title="">
                        <small><b>@</b></small>{{ comment.user.username }}
                        </a>
                    </h5>
                    <span>{{ comment.date_created }}</span>
                </div>
                <div class="br-5">
                    <a class="we-reply" href="{% url 'posts:comment' comment.slug %}" title="Reply">
                        <i class="fas fa-reply fa-fw text-gray text-hover-orange"></i>
                    </a>
                    {% if comment.user == request.user %}
                        <a class="we-reply" href="{% url 'posts:delete-comment' comment.slug %}?next={% url 'posts:post' comment.post.slug %}" title="Delete Comment">
                            <i class="fas fa-trash fa-fw text-gray text-hover-orange"></i> 
                        </a> 
                        <a class="we-reply " href="{% url 'posts:edit-comment' comment.slug %}?next={% url 'posts:post' comment.post.slug %}" title="Edit comment ">
                            <i class="fas fa-pen fa-fw  text-gray text-hover-orange"></i> 
                        </a>
                    {% endif %}
                </div>
            </div>
            <p class="text-dark">
                {{ comment.body }}
            </p>
        </div>

        <div class="section__heading  mb-3 py-2 text-gray fw-400 border-bottom mt-4 ">
            Replies to comment...
        </div>

        {% if comment.commentreply_set.all.count > 0 %}
            
            {% for reply in comment.commentreply_set.all  %}
                <div class="d-flex justify-content-end">
                    <div class="my-2 w-90">
                        <div class="comet-avatar post-avatar-container">
                            <img src="{{ reply.user.avatar.url }}" alt="" class="round-img reply-img border" style="width: 4rem; height: 4rem;">
                        </div>

                        

                        <div class="we-comment br-5">
                            <div class="coment-head d-flex justify-content">
                                <div class=" d-flex">
                                    <h5><a href="#" title="">
                                        @{{ reply.user.username }}
                                        </a>
                                    </h5>
                                    <span>{{ reply.date_created }}</span>
                                    <a class="we-reply" href="#" title="Reply">
                                        <i class="fa fa-reply"></i>
                                    </a>
                                </div>

                                {% if  reply.user == request.user %}
                                    <div class="d-flex justify-content-end border">
                                        <a class="we-reply" href="{% url 'posts:delete-comment-reply' reply.slug %} " title="Delete Comment Reply">
                                            <i class="fa  fa-trash fa-fw text-gray text-hover-orange"></i> 
                                        </a> 
                                        <a class="we-reply " href="{% url 'posts:edit-comment-reply' reply.slug %} " title="Edit comment reply">
                                            <i class="fas fa-pen fa-fw  text-gray text-hover-orange"></i> 
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <p>
                                {{ reply.body }}
                            </p>
                        </div>
                    </div> 
                </div>
            {% endfor  %}
        {% endif  %}


        

        <div class=" row justify-content-center br-5 w-100">
            <div class="  post-avatar-container col-4 my-5">
                <img src="{{  user.avatar.url }}" alt="" class="round-img border w-100">
            </div>
            <form  method="post" class="form bg-white  px-3  pb-5 col-8">{% csrf_token %}
                <div class="form-group">
                    <textarea name="text" cols="40" rows="10" maxlength="1000" id="id_text" class="form-control border br-5 px-4" placeholder="Your reply..." ></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit"  class="btn btn-primary ml-auto  capitalize">Reply</button>
                </div>
            </form> 
        </div>
    </div>
{% endblock %}


 
 