{% load static %}
<div class="d-flex w-100">
		<div class="new-post-avatar mt-5 mx-1">
			<img src="{{ user.avatar.url }}" alt="#" class="round-img border br-50">
		</div>
		<form enctype="multipart/form-data" class="form m-0  bg-white " method="POST">{% csrf_token %} 
			
			<div class="form-group  px-2"> 
				<textarea name="text" cols="40" rows="5" maxlength="1000" class="form-control px-2" placeholder="What's on your mind?" id="id_text"></textarea> 
			</div>
			<div class="d-flex media-post-container mx-4" style="transform: translateY(-5rem);  " >
				<div class="images">
					<input type="file" name="images" multiple="" required="" id="id_images">
				</div>
				<button type="submit" class="btn btn-primary ml-auto title px-5 py-1 fw-300">Publish</button>
			</div>
		</form>
</div>
