 <div class="  m-0 w-100 justify-content-center">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="widget">
				<div class="foot-logo">
					<div class="logo">
						<a href="index-2.html" title=""><img src="images/logo.png" alt=""></a>
					</div>	
					<p class="fw-400 text-gray">
						The trio took this simple idea and built it into the world's leading carpooling platform.
					</p>
				</div>
				 
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-12">
			<div class="widget">
				<div class="widget-title text-start"><h4>Follow</h4></div>
				<ul class="list-style-none">
					<li>
						<i class="fa fa-facebook-square"></i> 
						<a href="https://web.facebook.com/shopcircut/" title=""  class="text-gray text-hover-orange text-decoration-none">
							Facebook
						</a>
					</li>

					<li>
						<i class="fa fa-twitter-square"></i>
						<a href="https://twitter.com/login?lang=en" title="" class="text-gray text-hover-orange text-decoration-none">
							Twitter
						</a>
					</li>

					<li>
						<i class="fa fa-instagram"></i>
						
						<a href="https://www.instagram.com/?hl=en" title="" class="text-gray text-hover-orange text-decoration-none">
							Instagram
						</a>
					</li>

					<li>
						<i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover" title="" class="text-gray text-hover-orange text-decoration-none">
							Google+
						</a>
					</li>

					<li>
						<i class="fa fa-pinterest-square"></i> 
						<a href="https://www.pinterest.com/" title=""  class="text-gray text-hover-orange text-decoration-none">
							Pintrest
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-12">
			<div class="widget">
				<div class="widget-title text-start"><h4>Navigate</h4></div>
				<ul class="list-style-none">
					<li><a href="about.html" title="">about us</a></li>
					<li><a href="contact.html" title="">contact us</a></li>
					<li><a href="terms.html" title="">terms &amp; Conditions</a></li>
					<li><a href="#" title="">RSS syndication</a></li>
					<li><a href="sitemap.html" title="">Sitemap</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-12">
			<div class="widget">
				<div class="widget-title">
					<h4  class="text-gray ">Useful Links</h4>
					 
				</div>

				<ul class="list-style-none">
					<li><a href="#" title="">leasing</a></li>
					<li><a href="#" title="">submit route</a></li>
					<li><a href="#" title="">how does it work?</a></li>
					<li><a href="#" title="">agent listings</a></li>
					<li><a href="#" title="">view All</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-12">
			<div class="widget">
				<div class="widget-title    "><h4>Download Apps</h4></div>
				<ul class="colla-apps list-style-none">
					<li>
						<a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android pr-2"></i>android</a>
					</li>

					<li>
						<a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple pr-2"></i>iPhone</a>
					</li>
					<li>
						<a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows pr-2"></i>Windows</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div> 