{% load static %}
{% load date_formatter %}

<div class=" group-post d-flex justify-content align-items-center w-100 mb-2 bg-white  ">
    <div class="d-flex justify-content  align-items-center w-90 bg-white">  
        <div  class="d-flex justify-content-start  align-items-center bg-white">
            <div class="post-avatar-container mr-3 my-3">
                <a href="{% url 'profiles:user' post.user.slug %}" class="text-decoration-none" title="Go to @{{post.user.username}}">
                    <img src="{{ post.user.avatar.url }}" alt="" class=" round-img post-avatar border  br-50 mx-2">
                </a>
            </div>
        
            <div class=" flex-column  justify-content-center align-items-start py-2"> 
                <a href="{% url 'profiles:user' post.user.slug %}" class="text-decoration-none" title="Go to @{{post.user.username}}">
                    <h3 class=" text-orange fw-600 m-0">@{{ post.user.username }}</h3> 
                </a>

                {% if post.group is not None %} 
                    <h6 class="text-gray my-1">
                        <a href="{% url 'groups:group' post.group.slug %}" class=" text-gray  " title="Go to @{{post.group.name}}">
                            In <span class="text-orange fw-700">{{ post.group.name }}</span>
                        </a>
                    </h6>
                {% endif %} 

                <small class="text-gray text-start m-0 post-date"  >{{ post.date_created | date_formatter }}</small>

                
            </div>
        </div>
        {% if post.user == request.user %} 
             <ul class="list-style-none text-gray text-hover-orange d-flex gap-2 mx-2">
                <li>
                    <a href="{% url 'posts:post' post.slug %}" class="text-decoration-none  text-gray text-hover-orange ">
                        <i class="fa fa-reply"></i>
                    </a>
                </li>

                <li>
                    <a href="{% url 'posts:edit-post' post.slug %}" class="text-decoration-none  text-gray text-hover-orange ">
                        <i class="fas fa-pen"></i>
                    </a>
                </li>

                <li>
                    <a href="{% url 'posts:delete-post' post.slug %}" class="text-decoration-none  text-gray text-hover-orange ">
                        <i class="fa fa-trash"></i>
                    </a>
                </li>
             </ul>
            
        {% endif  %}
    </div> 
</div>
<div class="">
    <div class="  text-gray">
        {% if post.image_set.all.count > 0  %} 
            <div class="slider my-2"> 
                {% for  image in post.image_set.all %} 
                    <div class=" slide border-bottom br-5  mb-2 post-media   ">
                        <a href="{{ post.get_absolute_url }}">
                            <img src="{{  image.image.url  }}" alt="" class="post-media-media   img-fluid m-0 p-0">
                        </a>
                        
                    </div>   
                {% endfor %} 

                {% if post.image_set.all.count > 1  %} 
                    <div class="d-flex justify-content w-100 m-0 p-0   slider__buttons">
                        <div class="slider__btn  slider__btn--left px-2  ">
                            &larr;  
                        </div>

                        <div class="slider__btn slider__btn--right  px-2   ">
                            &rarr;
                        </div> 
                    </div>  

                    <div class="dots border py-2"></div>
                {% endif %}
            </div> 
        {% endif %}
            
        <a href="{{ 'posts:post.get_absolute_url' }}" class="text-decoration-none">
            <p class="post-text text-gray fw-400 px-2">
                {{ post.text }}
            </p>
        </a>
        
    </div>   

    <div class="post-feedback ">
        <ul class="list-style-none text-end d-flex  justify-content-end align-items-center ">
            <li class="mr-3 text-gray text-hover-orange"> 
                <a class="text-gray text-hover-orange  text-decoration-none">
                    <i class="fa fa-eye  "></i> <span class="text-gray text-hover-orange">1.2k</span>
                </a> 
            </li>
            <li class="mr-3 text-gray text-hover-orange"> 
                <a href="{% url 'posts:post' post.slug %}" class="text-gray text-hover-orange  text-decoration-none">
                    <i class="fas fa-comment"></i> <span class="text-gray text-hover-orange">{{ post.comment_set.count }}</span>
                </a> 
            </li>
            <li class="mr-3 text-gray text-hover-orange"> 
                <a href="{% url 'posts:like-post' post.slug %}" class="text-decoration-none text-gray text-hover-orange {% if request.user in post.likers.all %} text-orange {%  else %} text-gray {% endif  %}">
                    <i class="fas fa-thumbs-up"></i> <span class="">{{ post.likers.all.count }}</span>  
                </a>
            </li>
            <li class="mr-3 text-gray text-hover-orange"> 
                <a href="{% url 'posts:dislike-post' post.slug %}" class="text-decoration-none text-gray text-hover-orange {% if request.user in post.dislikers.all %} text-orange {%  else %} text-gray {% endif  %}">
                    <i class="fas fa-thumbs-down"></i> <span class="">{{ post.dislikers.all.count }}</span>  
                </a>
            </li>
            <li class="mr-3 text-gray text-hover-orange" title="Share post"> 
                <a  class="text-gray text-hover-orange text-decoration-none">
                    <i class="fas fa-share-alt"></i> <span class="text-gray text-hover-orange">0</span> 
                </a> 
            </li> 
        </ul>
    </div>
</div>  