{% extends "base.html"  %}
{% load static  %}

{% block title %}
    Trippy | Delete {{ group.name }}
     
{% endblock %}

 


{% block main  %}
    <form  method="post" class="form bg-white border px-3  pb-5">{% csrf_token %}
        <div class="form-group text-center">
            <h3 class="border-bottom">Are you sure you want to delete <b>{{ group.name }}</b> ? </h3>
            <em class="text-danger">(This action cannot be undone)</em>
        </div>
        <div class="d-flex justify-content-end">
            <div>
                <a href="{% url 'groups:group' group.slug %}"  class="btn btn-primary bg-success ml-auto  title px-3">Cancel</a>
                <button type="submit"  class="btn btn-primary bg-danger ml-auto  title px-3">Delete</button>
            </div>
        </div>
    </form> 
{% endblock %}

 