{% extends "base.html"  %}
{% load static  %}


 
{% block title %}
    Trippy | @{{ profile.user.username }}
{% endblock  %}
 


{% block style %}

    .br-5{
        border-radius: 5px;
    }

    .round-img{
        border-radius: 50%;
    }

    .user-pre-content{
        height: 70vh;
    }

    .user-cover{
     height: 50vh;  
    }

    .user-cover img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .user-avatar{
        height: 13em;
        width: 13em;
        transform: translate(2em, -5.3rem);
        
    }

    .user-avatar img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border: 13px solid rgba(255, 84, 0, 0.7);
        border-radius: 0 2rem 0 2rem;
    }

    .user-data{
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .user-name-type .user-name{
        color: rgb(255, 94, 0);
        font-weight: 600;
        font-size: 2rem;
    }


    .user-name-type .user-profession{ 
            font-weight: 100;
            font-size: 0.8rem;
            font-style: none;
            color: green;
        }
    .user-members-count{
        color: gray;
        font-weight: 300;
    }

    .leave-btn{
        background: crimson;
    }

    .join-btn{
        background: green;
    }

    .user .user-nav .nav-item .nav-link{
        font-weight: 500;
    }

    .user-nav{ 
        flex-wrap: no-wrap;
        transform: translateY(-7.4rem);
    }

    .user-admin-actions{
        display: flex;
        /*border: 1px solid yellow;*/
        transform: translateY(-20rem);
        justify-content: flex-end;
        color: #fff;
        font-weight: 800;
        font-size: 1.7rem;
        cursor: pointer;
    }

    /* panes */
    .pane{
        border-radius: 5px;
    }




    /* right pane */

    .user-member{

        border: 1px solid rgb(255, 94, 0);
        border-radius: 5px;

    }


    /* user change avatar*/

    .user-cover{
        position: relative;

    }

    .user-cover .change-usr-cover{
        position: absolute;
        left: 50%;
        top: 50%; 
        visibility: hidden;  
        cursor: pointer;
        transition: 0.5s;
    }


    .user-cover:hover .change-usr-cover{ 
        visibility: visible;  
    }

    .user-cover .change-usr-cover a i{
        font-size: 2rem;
        font-weight: 900;
        width: 100%;
        height: 100%;
        padding: 3rem;
        border-radius: 5px;
        background: rgba(0 ,0 ,0, 0.2);
        
    }

     
    .user-avatar{
        position: relative; 
    }

    .user-avatar img{ 
        background: #fff;
    }

    .user-avatar .change-usr-avatar{
        position: absolute;
        left:  0;
        top: 0; 
        visibility: hidden;  
        cursor: pointer;
        transition: 0.5s;
    }


    .user-avatar:hover .change-usr-avatar{ 
        visibility: visible;  
    }

    .user-avatar .change-usr-avatar a i{
        font-size: 2rem;
        font-weight: 900;
        width: 100%;
        height: 100%;
        padding: 5.5rem 4.5rem;

        border-radius: 0 2rem 0 2rem;
        background: rgba(0 ,0 ,0, 0.2);
        
    }


{% endblock  %}


{% block pre-content %}
    <div class="user-pre-content bg-white">
        <div class="user-cover">
            <img src="{{ profile.user.cover.url }}" alt="">
            {% if request.user ==  profile.user %}
                <div class="change-usr-cover br-5">
                    <a href="{% url 'users:change-usr-cover'  profile.user.slug %}" class="text-decoration-none" title="Change Cover">
                        <i class="fas fa-plus text-white h1"></i>
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="user-profile-data d-flex justify-content  align-items-start   w-100">
            <div class="user-avatar mx-3 ">
                <img src="{{ profile.user.avatar.url }}" alt="" > 

                {% if request.user ==  profile.user %}
                    <div class="change-usr-avatar br-5">
                        <a href="{% url 'users:change-usr-avatar'  profile.user.slug %}" class="text-decoration-none" title="Change Avatar">
                            <i class="fas fa-plus text-white h1"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="user-data d-flex justify-content align-items-center w-100">
                <div class="user-name-type flex-column justify-content-center align-items-center ">
                    <div class="user-name">
                        @{{ profile.user.username }}
                    </div>
                    <div class="user-profession">
                        {{ profile.user.profession }}
                        Self-Employed
                    </div>
                </div>

                <div class="user-members-count ">
                    {{ profile.user.followers.count }} followers
                </div>

                <div class="user-members-count ">
                    {{ profile.user.following.count }} following
                </div>

                <div class="user-actions-links ">
                    {% if profile.user in request.user.following.all %} 
                        <a href="{% url 'profiles:unfollow-user' profile.user.slug  %}" class="btn leave-btn px-5 {%  if profile.user == request.user %} disabled {% endif %}"  title="{%  if profile.user == request.user %} You cannot unfollow yourself {% endif %}">Unfollow <i class="fa fa-times"></i> </a>
                    {% else %} 
                        <a href="{% url 'profiles:follow-user' profile.user.slug  %}" class="btn join-btn px-5  {%  if profile.user == request.user %} disabled {%  endif %}" title="{%  if profile.user == request.user %} You cannot follow yourself {% endif %}">Follow <i class="fa fa-plus"></i></a>
                    {% endif %} 
                </div>

            </div>

            
        </div>

        <ul class=" user-nav d-flex justify-content-end list-style-none">
            
            <li class="nav-item">
                <a class="nav-link text-gray  text-hover-orange  ">About</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link text-gray  text-hover-orange  ">Timeline</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray  text-hover-orange  ">Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-gray  text-hover-orange  ">Photos</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link text-gray  text-hover-orange ">Videos</a>
            </li> 

            
        </ul>


        <!-- user admin actions  -->
        {% if user == profile.user %}
                
                <div class="dropdown user-admin-actions"  >
                    <a class="dropdown-toggle no-arrow nav-link" aria-expanded="false" data-bs-toggle="dropdown" id="dropdownMenu1" title="user settings"> 
                       <i class="fa fa-cogs  text-hover-orange" ></i> 
                    </a> 
                     

                    <ul class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in px-2" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" class="flex-column justify-content-center align-items-start">
                            <a role="menuitem" tabindex="-1" href="#" class="w-100 text-decoration-none text-gray text-hover-orange border-bottom" title="Edit Account">
                                <i class="fas fa-pen fa-fw text-gray text-hover-orange"></i> <span class="text-gray text-hover-orange">Edit</span> 
                            </a>
                            <a role="menuitem" tabindex="-2" href="#" class="w-100 text-decoration-none text-gray text-hover-orange border-bottom" title="Delete Account">
                                <i class="fas fa-trash fa-fw text-gray text-hover-orange"></i> <span class="text-gray text-hover-orange">Delete</span> 
                            </a>
                            <a role="menuitem" tabindex="-3" href="#" class="w-100 text-decoration-none text-gray text-hover-orange border-bottom" title="">
                                <i class="fas fa-share fa-fw text-gray text-hover-orange"></i> <span class="text-gray text-hover-orange">Share</span> 
                            </a>

                        </li>
                            
                    </ul>
                </div>
            {% endif %} 
    </div>
{% endblock  %}






{% block left %}
    <div class="pane bg-white py-5 px-2 ">
        <h3 class="text-gray text-start border-bottom fw-600 pb-2">
            About
        </h3>
        

        <div class="fw-300 text-gray text-start px-2">
            {{ profile.user.about }}
        </div>

    </div>
{% endblock %}



{% block main %}


    <div class="pane py-1 px-3 br-5">

        {% if request.user == profile.user %}
            <div class="new-postbox mb-5  bg-white " style="border-radius: 5px;">
                {% if user.is_authenticated  %}
                    
                    {% include 'partials/forms/_new_post_form.html'   %}
                    
                {% endif %}
            </div> 
        {% endif %}

        <div class="post-list  bg-white  pb-5 br-5 ">
            <h3 class="text-gray text-start border-bottom fw-600 pl-3 mb-3 py-5 pb-0">
                NewsFeed
            </h3>

            {% if posts.count > 0 %}
                {% for post in  posts %}
                    <div class=" mb-3 bg-gwhite px-4"> 
                        <div class="post bg-white">
                            {% include 'partials/_group_post.html'  %} 
                        </div>
                    </div>
                {% endfor  %}
            {% else %}
                <div class=" mb-3 pl-1 py-4"> 
                    
                    <h5 class="text-gray fw-300 text-center">
                        <i class="fas fa-pen fa-fw "></i> This user has no posts yet
                    </h5>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}



{% block right %} 
    <div class="pane bg-white py-5 px-3">
        <h3 class="text-gray text-start border-bottom fw-600 mb-2">
            Top members
        </h3> 
        
        {% for member in group.members.all %}
            {% if member == group.created_by %}
                <div class="group-member d-flex py-2 px-1 justify-content  align-items-center flex-no-wrap mb-3">
                    <div class="post-avatar-container mr-2">
                        <img src="{{ member.avatar.url }}" alt="" class="round-img border">
                    </div>

                    <div class="text-success text-center m-0">
                        <em style="font-size:  1rem ;">admin</em>
                    </div>
                    


                    
                    <div class="flex-column justify-content-center align-items-center">
                        <div class="m-0">
                            <h4 class="m-0 text-orange fw-700">@{{ member.username }}</h4>
                            <div class="w-100 d-flex  justify-content-center ">
                                <a href="{% url 'profiles:follow-user' member.slug  %}" class="text-success text-center">Follow +</a>
                            </div>
                        </div>
                    </div> 
                </div>
            {% endif  %}

            {% if member != group.created_by %}
                <div class="group-member d-flex py-2 px-1 mb-3  justify-content  align-items-center flex-no-wrap">
                    <div class="post-avatar-container mr-2">
                        <img src="{{ member.avatar.url }}" alt="" class="round-img border">
                    </div>
                    <div class=" d-flex flex-column justify-content-center align-items-center ">
                        <div class="m-0  justify-content-center align-items-center ">
                            <div>
                                <h4 class="m-0 text-orange fw-700">@{{ member.username }}</h4>
                            </div>
                            <div class="w-100 d-flex  justify-content-center ">
                                <a href="{% url 'profiles:follow-user' member.slug  %}" class="text-success text-center">Follow +</a>
                            </div>
                        </div> 
                    </div> 
                </div>
            {% endif  %}
        {% endfor  %}
    </div>
{% endblock %}



{% block js %}
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/date_formatter.js' %}"></script>
{% endblock %}